<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:35</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;pruebaTestNG.closeBrowser()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@68267da0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@763690526</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:36</td>   <td>1524</td> <td>&nbsp;</td><td title="&lt;&lt;pruebaTestNG.closeBrowser()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@6bf0219d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@711662550</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:03</td>   <td>-31661</td> <td>&nbsp;</td><td title="&gt;&gt;pruebaTestNG.launchapp(java.lang.String)[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@6bf0219d]">&gt;&gt;launchapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@711662550</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:03</td>   <td>-31661</td> <td>&nbsp;</td><td title="&gt;&gt;pruebaTestNG.launchapp(java.lang.String)[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@68267da0]">&gt;&gt;launchapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@763690526</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:11</td>   <td>-23597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pruebaTestNG.registration()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@6bf0219d]">registration</td> 
  <td>TestNG@711662550</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:11</td>   <td>-23583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pruebaTestNG.registration()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@68267da0]">registration</td> 
  <td>TestNG@763690526</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:20</td>   <td>-14884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pruebaTestNG.registration2()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@68267da0]">registration2</td> 
  <td>TestNG@763690526</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:20</td>   <td>-14520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pruebaTestNG.registration2()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@6bf0219d]">registration2</td> 
  <td>TestNG@711662550</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:28</td>   <td>-6865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pruebaTestNG.registration3()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@68267da0]">registration3</td> 
  <td>TestNG@763690526</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/11/30 10:06:28</td>   <td>-6195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pruebaTestNG.registration3()[pri:0, instance:pruebaGrid.pruebaGrid.pruebaTestNG@6bf0219d]">registration3</td> 
  <td>TestNG@711662550</td>   <td></td> </tr>
</table>
